<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-size: 15px;">TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small" style="font-size: 30px;">TeLlevoApp!</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
    <img src="assets/TELLEVOAPP LOGO.png" style="background-color: lightblue; align-content: center;" >
</ion-card>

<ion-button style="font-size: 10px; "expand="full" shape="square" color="success"(click)="goToLoginCPage()">
  Iniciar sesión como conductor
</ion-button>

<ion-button style="font-size: 10px; "expand="full" shape="square" color="medium" (click)="goToLoginPPage()">
  Iniciar sesión como pasajero
</ion-button>

<ion-card>
  <img src="assets/foto1.jpg">
</ion-card>