<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-size: 12px;">Pasajero</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small" style="font-size: 20px;">TeLlevoAPP</ion-title>
    </ion-toolbar>
  </ion-header>

<p class="ion-text-center" style="font-weight: bold;color: lightgreen;">¡Hola {{nombre}}!</p>

<ion-card>
    <img src="assets/TELLEVOAPP LOGO.png" style="background-color: lightblue; align-content: center;" >
</ion-card>

<ion-button style="font-size: 10px; "expand="full" shape="square" color="success"(click)="goToPerfilPPage()">
  Perfil de usuario
</ion-button>

<ion-button style="font-size: 10px; "expand="full" shape="square" color="success"(click)="goToFormViajePage()">
  Ver viajes
</ion-button>

  <ion-card style="background-color: yellowgreen;">
    <img src="assets/foto4.png" style="padding: 2%;">
    <ion-card-header style="background-color: gold;">
      <ion-card-title class=texto style="font-weight: lighter;;">¿Qué es TeLlevaApp?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="texto2" style="color: black;">
      TeLlevaApp fue creada por estudiantes de la Escuela de Informática del Duoc UC Maipú. Está aplicación tiene el fin
      de ayudar a todos los alumnos con problemas para movilizarse y asistir a sus clases presenciales en sus
      respectivas sedes.
      Más abajo verás cuales son los objetivos de TeLlevoApp para mejorar la convivencia entre los alumnos de Duoc UC.
    </ion-card-content>
  </ion-card>

  <ion-card style="background-color: greenyellow;">
    <img src="assets/foto5.jpg" style="padding: 2%;">
    <ion-card-header style="background-color: yellow;">
      <ion-card-title class=texto style="font-weight: lighter;;">¿Qué pasa si tienes movilización
        propia?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="texto2" style="color: black;">
      Como estudiante de Duoc UC, si posees un vehículo para poder transportarte a tu sede, puedes registrarte en la
      aplicación de TeLlevoApp
      y llevar a otros estudiantes que tengan problemas para asistir a sus clases de manera presencial. Alguno de los
      alumnos no pueden movilizarse ya sea
      por falta de transporte público en ciertos horarios, altos costos de otras aplicaciones de transporte, no contar
      con vehículos para movilizarse o la institución no
      les ha facilitado un tipo de transporte. Tu deber en TeLlevoApp es programar tus viajes de retorno con los alumnos
      que tengan algun problema para asistir a su sede de Duoc UC
      y deberás fijar el costo de viaje por persona. También podrás socializar con los alumnos pasajeros ya sea de
      manera presencial o por móvil.
    </ion-card-content>
  </ion-card>

  <ion-card style="background-color: lawngreen;">
    <img src="assets/foto6.jpg" style="padding: 2%;">
    <ion-card-header style="background-color: khaki ;">
      <ion-card-title class=texto style="font-weight: lighter;;">¿Y si no tienes movilización propia?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="texto2" style="color: black;">
      Si no tienes movilización propia, debes registrarte en TeLlevoApp como pasajero y debes verificar si hay viajes
      disponibles. Desde el lanzamiento de la app
      han habido conductores disponibles hacía el Duoc UC en cualquier horario desde las 8:00 hasta las 23:00. Siempre
      va a haber un conductor que se encuentre disponible.
      Al elegir los viajes disponibles en la app, solo debes ver la ruta del conductor que te va a llevar, esperar y al
      momento de la llegada, podrás asistir a las clases de tu sede sin problemas.
    </ion-card-content>
  </ion-card>

</ion-content>